@model PassionProjectMVP_Diarra.Models.Location

@{
    ViewBag.Title = "Delete";
}

<h4>Delete @Model.country ?</h4>

<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.incomeRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.incomeRange)
        </dd>

    </dl>

    <form action="/Locations/Delete/@Model.locId" name="delete" method="post">
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" onclick="confirmation();" class="btn btn-default" /> |
            @Html.ActionLink("Back to Location List", "LocationList")
        </div>
    </form>
</div>
