@model PassionProjectMVP_Diarra.Models.ModelViews.ShowLocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Location</h4>
    <hr />
    <table class="table">
        <tr>
            <th colspan="2">
                @Html.DisplayNameFor(model => model.location.city)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.location.country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location.incomeRange)
            </th>
        </tr>
        <tr>
            <td colspan="2">
                @Html.DisplayFor(model => model.location.city)
            </td>
            <td>
                @Html.DisplayFor(model => model.location.country)
            </td>
            <td>
                @Html.DisplayFor(model => model.location.incomeRange)
            </td>

        </tr>
    </table>

    <ul>
        List of pupil living at @Model.location.country

        @foreach (var pupil in Model.pupils)
        {
            var temp = @Html.DisplayFor(modelItem => pupil.firstName).ToHtmlString();
            var temp1 = @Html.DisplayFor(modelItem => pupil.lastName).ToHtmlString();
            var fullName=temp+" " +temp1;
            <li>
                @Html.ActionLink(fullName, "Index", "Pupils/Details/" + pupil.pId)
            </li>
        }
    </ul>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.location.locId }) |
    @Html.ActionLink("Back to Location List", "LocationList")
</p>


