@model PassionProjectMVP_Diarra.Models.ModelViews.ShowLocation

@{
    ViewBag.Title = "Details";
}

<h2>Details about @Model.location.country</h2>

<div class="row">
    <h4>Location</h4>
    <div class="col-sm-12 col-md-6">
        <dl class="dl-horizontal">
            <div>
                <dt>
                    @Html.DisplayNameFor(model => model.location.city)
                </dt>
                <dd colspan="2">
                    @Html.DisplayFor(model => model.location.city)
                </dd>
            </div>
            <div>
                <dt>
                    @Html.DisplayNameFor(model => model.location.country)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.location.country)
                </dd>
            </div>
            <div>
                <dt>
                    @Html.DisplayNameFor(model => model.location.incomeRange)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.location.incomeRange)
                </dd>
            </div>
        </dl>
        </div>
        <div class="col-sm-12 col-md-6">
                    <ul>
                        List of pupil living in @Model.location.country

                        @foreach (var pupil in Model.pupils)
                        {
                            var temp = @Html.DisplayFor(modelItem => pupil.firstName).ToHtmlString();
                            var temp1 = @Html.DisplayFor(modelItem => pupil.lastName).ToHtmlString();
                            var fullName = temp + " " + temp1;
                            <li>
                                @Html.ActionLink(fullName, "Index", "Pupils/Details/" + pupil.pId)
                            </li>
                        }
                    </ul>

        </div>
    </div>
               
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.location.locId }) |
                    @Html.ActionLink("Back to Location List", "LocationList")
                </p>


