@model PassionProjectMVP_Diarra.Models.Module

@{
    ViewBag.Title = "Delete";
}

<h4>Delete @Model.moduleName ?</h4>

<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Classe.className)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classe.className)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moduleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moduleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.delivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.delivery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fees)
        </dd>

    </dl>

    <form action="/Modules/Delete/@Model.modId" name="delete" method="post">
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" onclick="confirmation();" class="btn btn-default" /> |
            @Html.ActionLink("Back to Module List", "ModuleList")
        </div>
    </form>
</div>
