@model PassionProjectMVP_Diarra.Models.ModelViews.ShowModule

@{
    ViewBag.Title = "Details";
    var temp = @Html.DisplayFor(model => model.classe.className).ToHtmlString();
}

<div>
    <h4>Details about @Model.module.moduleName module</h4>
    <hr />
    <dl class="dl-horizontal module">
        <div>
            <dt>
                @Html.DisplayNameFor(model => model.classe.className)
            </dt>

            <dd>

                @Html.ActionLink(temp, "Index", "Classes/Details/" + Model.classe.classId)

                @*@ @Html.DisplayFor(model => model.classe.className)*@
            </dd>
        </div>
        <div>
            <dt>
                @Html.DisplayNameFor(model => model.module.moduleName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.module.moduleName)
            </dd>
        </div>
        <div>
            <dt>
                @Html.DisplayNameFor(model => model.module.description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.module.description)
            </dd>
        </div>
        <div>
            <dt>
                @Html.DisplayNameFor(model => model.module.delivery)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.module.delivery)
            </dd>
        </div>
        <div>
            <dt>
                @Html.DisplayNameFor(model => model.module.fees)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.module.fees)
            </dd>
        </div>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.module.modId }) |
    @Html.ActionLink("Back to Module List", "ModuleList")
</p>
