@model IEnumerable<PassionProjectMVP_Diarra.Models.ModelViews.ShowModule>

@{
    ViewBag.Title = "ModuleList";
}

<h2>List of all Modules available</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.module.moduleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.module.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.module.delivery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.module.fees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.classe.className)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {

    var temp = @Html.DisplayFor(modelItem => item.classe.className).ToHtmlString();
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.module.moduleName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.module.description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.module.delivery)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.module.fees)
    </td>
    <td>
        @Html.ActionLink(temp, "Index", "Classes/Details/" + item.classe.classId)
        @*@Html.DisplayFor(modelItem => item.Classe.className)*@
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.module.modId }) |
        @Html.ActionLink("Details", "Details", new { id = item.module.modId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.module.modId })
    </td>
</tr>
}

</table>

