@model IEnumerable<PassionProjectMVP_Diarra.Models.Classe>

@{
    ViewBag.Title = "Classe List";
}

<h2>List of courses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.className)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.className)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.startDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.endDate)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.classId }) |
        @Html.ActionLink("Details", "Details", new { id = item.classId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.classId })
    </td>
</tr>
}

</table>
