@model PassionProjectMVP_Diarra.Models.Classe

@{
    ViewBag.Title = "Delete";
}

<h4>Delete @Model.className ?</h4>

<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.className)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.className)
        </dd>

    </dl>

    <form action="/Classes/Delete/@Model.classId" name="delete" method="post">
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" onclick="confirmation();" class="btn btn-default" /> |
            @Html.ActionLink("Back to Classe List", "ClasseList")
        </div>
    </form>
</div>
