@model PassionProjectMVP_Diarra.Models.ModelViews.ShowClasse
@*@model PassionProjectMVP_Diarra.Models.Classe*@

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <h4>Details about @Model.classe.className class</h4>
    <div class="col-sm-12 col-md-6">
        <dl class="dl-horizontal">
            <div>
                <dt>
                    @Html.DisplayNameFor(model => model.classe.className)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.classe.className)
                </dd>
            </div>
            <div>
                <dt>
                    @Html.DisplayNameFor(model => model.classe.startDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.classe.startDate)
                </dd>
            </div>
            <div>
                <dt>
                    @Html.DisplayNameFor(model => model.classe.endDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.classe.endDate)
                </dd>
            </div>
        </dl>
            
</div>
    <div class="col-sm-12 col-md-6">
        <ul>
            List of modules in @Model.classe.className class

            @foreach (var module in Model.allModules)
            {
                var temp = @Html.DisplayFor(modelItem => module.moduleName).ToHtmlString();
                <li>
                    @Html.ActionLink(temp, "Index", "Modules/Details/" + module.modId)
                </li>
            }
        </ul>
        <ul>
            List of pupils in @Model.classe.className class

            @foreach (var pupil in Model.allPupils)
            {
                var temp = @Html.DisplayFor(modelItem => pupil.firstName).ToHtmlString() + " " + @Html.DisplayFor(modelItem => pupil.lastName).ToHtmlString();
                <li>
                    @Html.ActionLink(temp, "Index", "Pupils/Details/" + pupil.pId)
                </li>
            }
        </ul>

        </div>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.classe.classId }) |
        @Html.ActionLink("Back to Classe List", "ClasseList")
    </p>
