@model PassionProjectMVP_Diarra.Models.Pupil

@{
    ViewBag.Title = "Delete";
}

<h4>Delete @Model.firstName ?</h4>

<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Classe.className)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classe.className)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

    </dl>

    <form action="/Pupils/Delete/@Model.pId" name="delete" method="post">
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" onclick="confirmation();" class="btn btn-default" /> |
            @Html.ActionLink("Back to Pupil List", "PupilList")
        </div>
    </form>

</div>
