@model PassionProjectMVP_Diarra.Models.ModelViews.ShowPupil

@{
    ViewBag.Title = "Details";
    var temp = @Html.DisplayFor(model => model.classe.className).ToHtmlString();
    var tempLoc = @Html.DisplayFor(model => model.location.country).ToHtmlString();
}


<div>
    <h4>Details about @Model.pupil.firstName</h4>
    <hr />
    <dl class="dl-horizontal pupil">

        <div>
            <dt>
                @Html.DisplayNameFor(model => model.pupil.firstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.pupil.firstName)
            </dd>
        </div>
        <div>
            <dt>
                @Html.DisplayNameFor(model => model.pupil.lastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.pupil.lastName)
            </dd>
        </div>

        <div>
            <dt>
                @Html.DisplayNameFor(model => model.classe.className)
            </dt>

            <dd>
                @Html.ActionLink(temp, "Index", "Classes/Details/" + Model.classe.classId)
                @*@Html.DisplayFor(model => model.classe.className)*@
            </dd>
        </div>
        <div>
            <dt>
                @Html.DisplayNameFor(model => model.location.city)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.location.city)
            </dd>
        </div>
        <div>
            <dt>
                @Html.DisplayNameFor(model => model.location.country)
            </dt>

            <dd>
                @Html.ActionLink(tempLoc, "Index", "Locations/Details/" + Model.location.locId)
                @*@Html.DisplayFor(model => model.location.country)*@
            </dd>
        </div>

        <div>
            <dt>
                @Html.DisplayNameFor(model => model.pupil.age)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.pupil.age)
            </dd>
        </div>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pupil.pId }) |
    @Html.ActionLink("Back to Pupil List", "PupilList")
</p>
